extends layout

block content
    table(style='border: 2px soild black')
        tr
            td company
            td #{job.company}
        tr
            td salary
            td #{job.salary}
        tr
            td appliedOn
            td #{job.applied}
        tr
            td city
            td #{job.city}
        tr
            td title
            td #{job.title}
        tr
            td category
            td #{job.category}